.image-container{
  // width: 40%;
  height: 350px;
  overflow: hidden;
  clip-path: polygon(100% 0, 80% 100%, 0% 100%, 0% 0%);
  img{
    transition: opacity 1s ease-in-out;
    background-position: center;
    height: 100%;
  }
}